/*DESCARGAR MIN-1200PX*//*DESCARGAR MIN-1200PX*/

.sectionDescargar{
	background-image: url(../img/descargar.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	margin: 0px;
	text-align: left;
	padding: 140px 100px;
	line-height: 80px;
	font-size: 2.5rem;
	color: map-get($map:$paleta, $key: 'blanco');
	width: 100vw;
	height: 1200px;

	h1{color: map-get($map:$paleta, $key: 'rojo');}

	li{text-transform: uppercase;
		text-shadow: 2px 2px 2px black;}

	a{text-align: center;
		font-size: 3rem;
		color: map-get($map:$paleta, $key: 'rojo');
		padding: 30px;
		border-radius: 2rem;
		&:hover{color: map-get($map:$paleta, $key: 'blanco');
		background-color: map-get($map:$paleta, $key: 'violetOscuro');
		transition: 0.5s;}}

	@media(max-width: 768px){
		body{}

		padding: 150px 40px;

			li{line-height: 60px;
			font-size: 2rem;}

			a{font-size: 2rem;
				color: map-get($map:$paleta, $key: 'rojo');
				padding: 20px;
				border-radius: 2rem;
				align-items: center;}

	}

}

