

/*NAV BAR MIN-1200PX*//*NAV BAR MIN-1200PX*//*NAV BAR MIN-1200PX*//*NAV BAR MIN-1200PX*//*NAV BAR MIN-1200PX*//*NAV BAR MIN-1200PX*/

.header{
	width: 100%;
	position: fixed;}	

.mg-button{margin-right: 40px;}

.logo{
		height: 60px;
    	width: 240px;
    	padding-left: 30px;}	

.nav-link{
		padding: 15px;
		color: white;
		text-decoration: none;
		border-radius: 15px;}


.nav-link:hover{
		background-color: #7E479E;
		transition: 0.8s;}

.nav-rep-text-center{text-align: center;}
