/*INFO MIN-1200PX*//*INFO MIN-1200PX*/

.inf-grid-header{
	grid-area: inf-grid-header;
}

.inf-grid-main{
	grid-area: inf-grid-main;
}

.inf-grid-aside{
	grid-area: inf-grid-aside;
}

.inf-grid-footer{
	grid-area: inf-grid-footer;
}


.inf-grid{
	display: grid;
	grid-template-columns: 80vw 20vw;
	grid-template-rows: auto;
	grid-template-areas: 
	"inf-grid-header inf-grid-header"
	"inf-grid-main inf-grid-aside"
	"inf-grid-footer inf-grid-footer";}

.inf-grid-main{
	background-image: url(../img/info.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 1200px;
	padding: 150px 100px;
	line-height: 4rem;

	h1{font-size: 4rem;
		color: $textRed;}

	li{margin-top: 40px;
		font-size: 2.5rem;}

		a{color: $textRed;}

	aside{font-size: 1.5rem;
		margin-top: 200px;}

		aside section{
			padding-top: 200px;
			display: block;
			justify-content: space-between;}
}

	.inf-grid-aside{padding-top: 100px;}

	.inf-h2{text-align: center;}

	.inf-margin{margin: 20% 10%;
		width: 80%;
		height: 24vh;}

@media(max-width: 1200px){
	body{}

	.inf-grid{
	display: grid;
	grid-template-columns: 100vw;
	grid-template-rows: auto;
	grid-template-areas: 
	"inf-grid-header"
	"inf-grid-main"
	"inf-grid-aside"
	"inf-grid-footer";}

	.inf-grid-main{
		width: 100vw;}

		.inf-grid-aside{width: 100vw;
		flex-direction: column;
		padding: 50px 0px;

		section{display: flex;
		justify-content: center;}
	}

	.inf-margin{margin: 0;
		width: 45vw;}
}




@media(max-width: 992px){
	body{}
	
	.inf-grid-main{
		padding: 150px 50px;
		font-size: 2rem;
		line-height: 2rem;}		

}
