/*INFO MIN-1200PX*//*INFO MIN-1200PX*/

.inf-grid-header{
	grid-area: inf-grid-header;
}

.inf-grid-main{
	grid-area: inf-grid-main;
}

.inf-grid-aside{
	grid-area: inf-grid-aside;
}

.inf-grid-footer{
	grid-area: inf-grid-footer;
}


.inf-grid{
	display: grid;
	grid-template-columns: 80vw 20vw;
	grid-template-rows: auto;
	grid-template-areas: 
	"inf-grid-header inf-grid-header"
	"inf-grid-main inf-grid-aside"
	"inf-grid-footer inf-grid-footer";

	@media(max-width: 1200px){

		display: grid;
		grid-template-columns: 100vw;
		grid-template-rows: auto;
		grid-template-areas: 
		"inf-grid-header"
		"inf-grid-main"
		"inf-grid-aside"
		"inf-grid-footer";	
	}
}

.inf-grid-main{
	background-image: url(../img/info.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 1200px;
	padding: 150px 100px;
	line-height: 4rem;

	@media(max-width: 1200px){
		width: 100vw;
	}

	@media(max-width: 992px){
		padding: 150px 50px;
		font-size: 2rem;
		line-height: 2rem;		
	}

	h1{font-size: 4rem;
		color: map-get($map:$paleta, $key: 'rojo');}

	li{margin-top: 40px;
		font-size: 2.5rem;
		text-transform: uppercase;
		text-shadow: 2px 2px 2px dodgerblue;}

		a{color: map-get($map:$paleta, $key: 'violet');
			text-transform: none;}

	aside{font-size: 1.5rem;
		margin-top: 200px;}

		aside section{
			padding-top: 200px;
			display: block;
			justify-content: space-between;}
}

	.inf-grid-aside{padding-top: 100px;
		@media(max-width: 1200px){
			width: 100vw;
			flex-direction: column;
			padding: 50px 0px;
			section{display: flex;
			justify-content: center;}}
	}

	.inf-h2{text-align: center;}

	.inf-margin{margin: 20% 10%;
		width: 80%;
		height: 24vh;
		@media(max-width: 1200px){
			margin: 0;
			width: 45vw;}
	}
