/*INGRESAR MIN-1200PX*//*INGRESAR MIN-1200PX*//*INGRESAR MIN-1200PX*//*INGRESAR MIN-1200PX*//*INGRESAR MIN-1200PX*//*INGRESAR MIN-1200PX*/

.main-ingresar{
	background-image: url(../img/registrar.jpg);
	background-repeat: no-repeat;
	background-position: end;
	background-size: cover;
	justify-content: center;
	justify-items: center;

	width: 100%;
	height: 1600px;

	div div{padding-top: 250px;
		text-align: center;}

		div div div{padding: 0;
			font-size: 2rem;	
			line-height: 8rem}

			div div div a{color: map-get($map:$paleta, $key: 'blanco');
				padding: 2.5rem;
				font-weight: 400;
				border-radius: 2.5rem;
				background-color: map-get($map:$paleta, $key: 'violetOscuro');
				cursor: pointer;
				transition: all .5s;
				border: none;
				outline: none;
					&:hover{background-color: map-get($map:$paleta, $key: 'aguamarine');}
			}

	form{margin: auto;
		line-height: 4rem;
		width: 400px;
		height: 500px;
		border-radius: 1rem;
		background-color: rgba(51, 51, 51, 0.8);
		text-align: center;}
			
		h2{padding: 4rem;
			font-size: 3rem;
			color: map-get($map:$paleta, $key: 'blanco');}

		form p{font-size: 2rem;
			color: map-get($map:$paleta, $key: 'blanco');
			padding: 2.5rem;}

			form input{width: 70%;
				font-size: 1.5rem;
				display: block;
				margin: auto;
				margin-bottom: 2rem;
				border-radius: 1rem;
				background-color: white;
				text-align: center;			
				border: none;
				border-bottom: white thin solid;}

				form input[type="button"]{margin: auto;
					margin-top: 30px;
					border: solid thin white;
					padding: 2rem;
					border-radius: 1rem;
					cursor: pointer;
						&:hover{background-color: map-get($map:$paleta, $key: 'aguamarine');
						transition: 0.5s;}
				}
				
		@media(max-width: 1200px){
			body{}

			div div{padding-top: 0;}

				div div div{padding-top: 200px;}
		}						

}

	
