/*RECARGAR MIN-1200PX*//*RECARGAR MIN-1200PX*/

.main-recargar{
	background-image: url(../img/recargar.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0px;
	width: 100%;

	section{font-size: 2rem;
		width: 75%;
		padding: 100px 100px;
		line-height: 50px;}

	div{padding: 0 100px 300px 100px;
		width: 75%;
		font-size: 2rem;
		line-height: 80px;}	

		table{font-size: 2rem;
		width: 100%;
		padding: 0;
		line-height: 80px;}

			tr{text-align: center;}
			th{background-color: #CCA6E2;}
			td{background-color: #8DD8B4;}
			th,td{text-align: center;}

	@media(max-width: 768px){
	body{}

	section{width: 100%;}

		div{width: 100%;
			font-size: 1rem;}
	}		
}	
