<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="Lineage 2 Alfa" content="Lineage 2 Alfa free, ultima cronica, descarga ya y disfruta con tus amigos en este servidor totalmente free">
    <meta name="autor" content="Luciano Caffaro">
    <meta name="keywords" content="Lineage 2, Lineage 2 Alfa, Lineage II, Lineage II Alfa, Lineage Ultima Cronica, Lineage 2 free, Lineage II Free ultima cronica, Lineage II Free">
    <meta name="robots" content="index, follow">

    <title>LINEAGE 2 ALFA</title>

    <link rel="shortcut icon" href="../img/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../src/style.css">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/7e5b2d153f.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="header">
        <nav class="navbar navbar-expand-xl navbar-light bg-gris vw">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img class="logo" src="../img/logo.png" alt="LINEAGE 2 ALFA"></a>
                <button class="navbar-toggler bg-white mg-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-rep-text-center">

                    <li class="nav-item"><a class="nav-link active text-white fs-2 nav-text-spacing" aria-current="page" href="../index.html">HOME</a></li>

                    <li class="nav-item"><a class="nav-link text-white fs-2 nav-text-spacing" href="info.html">INFO</a></li>

                    <li class="nav-item"><a class="nav-link text-white fs-2 nav-text-spacing" href="descargar.html">DESCARGAR</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white fs-2 nav-text-spacing" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    CONTACTO</a>
                        <ul class="dropdown-menu bg-gris nav-rep-text-center" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item text-white fs-2 nav-link" href="https://www.facebook.com/groups/613033368718649">FACEBOOK</a></li>
                            <li><a class="dropdown-item text-white fs-2 nav-link" href="https://discord.gg/nxpKgpn6MM">DISCORD</a></li>
                        </ul>
                    </li>

                    <li class="nav-item"><a class="nav-link text-white fs-2 nav-text-spacing" href="recargar.html">RECARGAR</a></li>

                    <li class="nav-item"><a class="nav-link text-white fs-2 nav-text-spacing" href="ingresar.html">INGRESAR/REGISTRARSE</a></li>

                </ul>
            </div>
        </nav>
    </header>
    <main class="sectionDescargar">
        <section>               
                <h1>INSTRUCCIONES DE INSTALACION LINEAGE II DC</h1>
                    <ol>
                        <li>Descargar el Cliente L2DC comprimido</li>
                        <li>Crear una carpeta y descomprimir en el mismo</li>
                        <li>Ir a la carpeta System dentro del Cliente L2DC</li>
                        <li>Crear un acceso directo del ejecutable L2.exe</li>
                        <li>Ir a propiedades del L2DC.exe y establecer como predeterminado la ejecucion como Administrador</li>
                        <br>
                        <a href="#">DESCARGAR LINEAGE II ALFA</a>
                    </ol>
        </section>
    </main>
    <footer class="bg-dark text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
        <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fab fa-facebook-f"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fab fa-youtube"></i></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">© 2022 LINEAGE 2 ALFA Corporation. All rights reserved. All trademarks are the property of their respective owners.</a>
        </div>
        <!-- Copyright -->
    </footer>
</body>