<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LINEAGE 2 ALFA</title>

    <link rel="shortcut icon" href="../img/favicon.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="../src/style.css">

    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/7e5b2d153f.js" crossorigin="anonymous"></script>
    <script defer src="../index.js"></script>
</head>
<body class="inf-grid">
    <header class="header inf-grid-header">
        <nav class="navbar navbar-expand-xl navbar-light bg-gris width-100">
            <div class="container-fluid">
                <a class="navbar-brand" href="../index.html">
                    <img class="logo" src="../img/logo.png" alt="LINEAGE2DC"></a>
                <button class="navbar-toggler bg-white mg-button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-rep-text-center">

                    <li class="nav-item"><a class="nav-link active text-white fs-2 nav-text-spacing" aria-current="page" href="../index.html">HOME</a></li>

                    <li class="nav-item"><a class="nav-link text-white fs-2 nav-text-spacing" href="info.html">INFO</a></li>

                    <li class="nav-item"><a class="nav-link text-white fs-2 nav-text-spacing" href="descargar.html">DESCARGAR</a></li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white fs-2 nav-text-spacing" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    CONTACTO</a>
                        <ul class="dropdown-menu bg-gris nav-rep-text-center" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item text-white fs-2 nav-link" href="https://www.facebook.com/groups/613033368718649">FACEBOOK</a></li>
                            <li><a class="dropdown-item text-white fs-2 nav-link" href="https://discord.gg/nxpKgpn6MM">DISCORD</a></li>
                        </ul>
                    </li>

                    <li class="nav-item"><a class="nav-link text-white fs-2 nav-text-spacing" href="recargar.html">RECARGAR</a></li>

                    <li class="nav-item"><a class="nav-link text-white fs-2 nav-text-spacing" href="ingresar.html">INGRESAR/REGISTRARSE</a></li>

                </ul>
            </div>
        </nav>
    </header>
        <main class="inf-grid-main">
            <section>
                <div class="contenedor-info">
                    <h1 class="text-red">INFO LINEAGE 2 ALFA</h1>
                    
                    <ul class="text-violet info-ul-li" type="circle">
                        <li>PARCHE Linaje 2 Homúnculo (6.15.2021)</li>
                        <li>Experiencia (EXP) 1000x</li>
                        <li>Puntos de habilidad (SP) 100x</li>
                        <li>Adena 100x</li>
                        <li>Drop Itens 1x</li>
                        <li>Quest Experiencia (EXP) 10x</li>
                        <li>Quest Skill Points 10x</li>
                        <li>Quest Adena 10x</li>
                        <li>Quest Drop Itens 30x</li>
                        <li>Spoil 1x</li>
                        <li>Weight Limit 7x</li>
                        <li><a href="https://discord.gg/nxpKgpn6MM">Visite nuestro foro para obtener más información</a></li>
                    </ul>
                </div>
            </section>
        </main>
        <aside class="inf-grid-aside bg-gris-claro">
            <section class="inf-grid-section">
                <div>
                    <h2 class="inf-h2 text-white">L2 ASEDIO PVP</h2>
                    <iframe class="contenedor-location inf-margin" src="https://www.youtube.com/embed/QV5d99KYUhw" title="Lineage 2 Homunculus PVP 2021 / Castle Siege 04-18-21Othell Ghost Hunter PVP" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <div>
                    <h2 class="inf-h2 text-white">Server L2 ALFA Loc</h2>
                    <iframe class="contenedor-location inf-margin" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d695.3265302013651!2d-64.1849882005633!3d-31.42879184343342!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9432a28ddf861391%3A0xc0fdcfc930551a76!2sPlaza%20Espa%C3%B1a!5e0!3m2!1ses!2sar!4v1653535652436!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </section>
        </aside>
    <footer class="bg-dark text-center text-white inf-grid-footer">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
        <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fab fa-facebook-f"></i></a>

                <!-- Linkedin -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fab fa-youtube"></i></a>

                <!-- Github -->
                <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fab fa-github"></i></a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2020 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">© 2022 LINEAGE 2 ALFA Corporation. All rights reserved. All trademarks are the property of their respective owners.</a>
        </div>
        <!-- Copyright -->
    </footer>
</body>
</html>